/.DS_Store
/.Trash
/.config
/.gitconfig
/.local
/.nodebrew
/.npm
/.pyenv
/.python_history
/.swiftpm
/.viminfo
/.vscode
/.zprofile
/.zsh_history
/.zsh_sessions
/.zshrc
/Applications
/Creative Cloud Files
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Postman
/Public
/arr.py
/dev
/old
/pyproject.toml
/soup.html
/soup.py
/soup.txt
/study
/test.py