{% extends 'side_search.html' %}
{% block contents %}

<h4 class="mt-5 mb-4 border-bottom">常磐線 <font size=3>　ひたち・ときわ </font>
</h4>

<form action="{% url 'charge_search:joban' %}" method="post">

  {% csrf_token %}
  <input type="hidden" name="line" value="Joban">
  <table>
    {% if form.errors %}
    <tr>
      <td colspan="3">
        <ul class="alert alert-danger list-unstyled">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
            <path
              d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
            <path
              d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z" />
          </svg>
          <b>{{err_msg}}</b><br>
          {{form.input_dep.errors}}
          {{form.input_arr.errors}}
          {{form.non_field_errors}}
        </ul>
      </td>
    </tr>
    {% endif %}



    <tr>
      <td width="50%">
        <span class="badge bg-secondary" style="color:white">
          <font size=3>乗車駅</font>
        </span>
        {{form.input_dep}}
      </td>
      
      <td width="50%">
        <span class="badge bg-secondary" style="color:white">
          <font size=3>降車駅</font>
        </span>
        {{form.input_arr}}
      </td>
    </tr>






    <tr>
      <td colspan="2">
        <div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" name="button" class="btn btn-danger">
          検索
        </button>
        </div>
      </td>
    </tr>






    <tr>
      <td colspan="2">
        <br>
        <div class="alert alert-warning" role="alert">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
            <path
              d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
            <path
              d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z" />
          </svg><b> 注意事項</b><br>
          <font size=2>
            万全を期していますが、検索結果が必ずしも正確な情報ではないことが有り得ます。
            あくまでも参考程度の情報としてご活用ください。
          </font>
        </div>
      </td>
    </tr>
  </table>
  {% csrf_token %}
</form>
{% endblock %}
