{% extends 'side_search.html' %}
{% block contents %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mt-5 border-bottom">
  <h1 class="h2">特急料金検索システムへようこそ</h1>
</div>

<div>
  <h5>こちらではJR各路線の特急料金を検索できます。</h5>
  <h5>左側から路線を選択して検索を開始しましょう。</h5>
</div>


<br>
<br>
<br>
<br>
<br>
<div class="card" style="width: 18rem;">
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/2/21/E657%E7%B3%BB%E3%82%AB%E3%83%84K15%E7%B7%A8%E6%88%90.jpg"
    class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">常磐線</h5>
    <p class="card-text">品川〜水戸〜いわき〜仙台</p>
    <a href="joban/" class="btn btn-primary">料金検索へ</a>
  </div>
</div>


{% endblock %}